
/**********************************
BODY AND SECTION
***********************************/

body{
    margin:0;
    padding:0;
    color: #3b3d40;
    background: white;
    overflow-x: hidden;
    background: url('../img/background.jpg') no-repeat center;
    background-size: cover;
    background-attachment:fixed;
}

section {
   padding: 100px 20px 100px 20px;
   margin:  0 auto;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),#dfb66d, rgba(0, 0, 0, 0));
    max-width: 800px;
    margin-top: -30px;
}

form {
  margin:  0 auto;
  max-width: 200px;
  width: 100%;
}

form input {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #3b3d40;
  box-shadow: transparent;
  -webkit-appearance: none;
  background: transparent;
}

/**********************************
TEXT STYLE
***********************************/
h1 {
  font-size: 52px;
  padding-bottom: 0px;
  text-align: center;
}

h2 {
  font-size: 23px;
  padding-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 15px;
  padding-bottom: 30px;
  text-align: center;
}


p {
  margin:  0 auto;
  width: 100%;
  max-width: 800px;
}

/**********************************
BACKGROUND
***********************************/
.background-image {
   background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.background-white {
  background: white;
}

.background-medium {
  background: #f9f9f9;
}

/**********************************
IMAGES
***********************************/
img {
  width: 100px;
  display: block;
  margin: auto;
  border-radius: 100%;
}

.image-small {
  width: 50px;
}

.image-medium {
  width: 125px;
}

/**********************************
LIST
***********************************/
ul {
  list-style: none;
}

.list-style-circle {
	 list-style-image: url("../img/bullet.png");
	  max-width:800px;
	  width:100%;
    margin: 0 auto;
}

/**********************************
BUTTON
***********************************/
button {
  background: transparent;
  border: 1px solid  #dfb66d;
  color: white;
  padding: 10px;
  display:block;
  margin: 0 auto;
}

button:hover {
  border-color:#a58954;
}

button:active {
  border-color: #404040;
}

.background-white button {
  color:#202020;
}
/**********************************
COLORS
***********************************/
.accent-text {
  color:#dfb66d;
  text-align: center;
}

.lite-text {
    color: white;
}

.dark-text {
  color: #A3A3A3;
  text-align:center;
  max-width:680px;
}

.left {
	text-align:left;
	width:100%;
	margin: 0 auto;
	max-width: 780px;
}


/**********************************
SELECTOR SELECTION
***********************************/
.selector{  
    overflow:auto;
    white-space:nowrap;
	  margin: 0 auto;
	  width:100%;
	  max-width: 800px;
}

.selector li{
    display: inline-block;
    vertical-align:top;
    white-space:normal;
    text-align: center;
}

.selector img {
	  border-radius: 30%;
	  width:100px;
}

.selector img:hover {
	  width:96px;
	  border: 2px solid #dfb66d;
}

.selector .selected img {
	  width:95px;
	  border: 3px solid #dfb66d;
}

.hide-scroll-bar {
	background:inherit;
	height:45px;
	margin-top: -30px;

}


.selection {
  margin-left: -35px;

}

.selection .list-specs-description .not-selected {
	display:none;
}

.selection .list-specs-description .selected {
	display:block;
}

.selection .accent-text {
	  text-align: left;
}


/**********************************
SLIDER
***********************************/
.slider {
  margin: 0 auto;
}

.slider p {
  text-align: center;
}

.slider h2 {
  font-size: 18px;
  font-weight: normal;
}

.slider .buttons {
  max-width: 80px;
  margin: 0 auto;
  margin-top: -20px;
}

.slider button {
  color: #dfb66d;
  border: transparent;
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 24px;
}

.slider button:hover {
 color:#a58954;
}

.slider button:active {
  color: #404040;
}

.slider .item {
  display: none;
  margin-bottom: 20px;
}

.slider .item p {
  max-width: 400px;
}

.slider .selected {
  display: inherit;
}

.enlist-now p {
  margin-top:-30px;
  text-align: center;
  margin-bottom: 40px;
}